.git
.gitignore
docs
examples
backend/__pycache__
backend/.env
backend/.tmp_test_api_server
backend/testJupyter
backend/tests
backend/output
backend/videos
backend/upload_chunks
backend/.cache
frontend/LifelogWeb/node_modules
frontend/LifelogWeb/dist
*.pyc
*.pyo
*.pyd
